<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml">
      </toc>
      <toc
            file="testToc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Penrose"
            id="penrose">
      </category>
      <view
            allowMultiple="false"
            class="org.safehaus.penrose.studio.object.ObjectsView"
            category="penrose"
            name="Objects"
            icon="media/images/penrose16.ico"
            id="org.safehaus.penrose.studio.object.ObjectsView"/>
      <view
            allowMultiple="false"
            class="org.safehaus.penrose.studio.validation.ValidationView"
            category="penrose"
            name="Validation"
            icon="media/images/validation.gif"
            id="org.safehaus.penrose.studio.validation.ValidationView"/>
      <view
            allowMultiple="false"
            class="org.safehaus.penrose.studio.views.ProjectInfoView"
            category="penrose"
            name="Project"
            icon="media/images/penrose16.ico"
            id="org.safehaus.penrose.studio.views.ProjectInfoView"/>
       <view
             allowMultiple="false"
             class="org.safehaus.penrose.studio.console.ConsoleView"
             category="penrose"
             name="Console"
             icon="media/images/console.gif"
             id="org.safehaus.penrose.studio.console.ConsoleView"/>
   </extension>
   <extension point="org.eclipse.ui.editors">
       <editor
            id="org.safehaus.penrose.studio.welcome.WelcomeEditor"
            name="Welcome"
            icon="media/images/penrose16.ico"
            class="org.safehaus.penrose.studio.welcome.WelcomeEditor"/>
       <editor
            id="org.safehaus.penrose.studio.connection.JDBCConnectionEditor"
            name="JDBC Connection"
            icon="media/images/server.png"
            class="org.safehaus.penrose.studio.connection.JDBCConnectionEditor"/>
       <editor
            id="org.safehaus.penrose.studio.connection.JNDIConnectionEditor"
            name="JNDI Connection"
            icon="media/images/server.png"
            class="org.safehaus.penrose.studio.connection.JNDIConnectionEditor"/>
       <editor
            id="org.safehaus.penrose.studio.source.JDBCSourceEditor"
            name="Source"
            icon="media/images/source.gif"
            class="org.safehaus.penrose.studio.source.JDBCSourceEditor"/>
       <editor
            id="org.safehaus.penrose.studio.source.JNDISourceEditor"
            name="Source"
            icon="media/images/source.gif"
            class="org.safehaus.penrose.studio.source.JNDISourceEditor"/>
       <editor
            id="org.safehaus.penrose.studio.mapping.MappingEditor"
            name="Mapping"
            icon="media/images/penrose16.ico"
            class="org.safehaus.penrose.studio.mapping.MappingEditor"/>
       <editor
           id="org.safehaus.penrose.studio.preview.PreviewEditor"
           name="Preview"
           icon="media/images/xmag.gif"
           class="org.safehaus.penrose.studio.preview.PreviewEditor"/>
       <editor
           id="org.safehaus.penrose.studio.cache.CacheEditor"
           name="Cache"
           icon="media/images/cache.png"
           class="org.safehaus.penrose.studio.cache.CacheEditor"/>
       <editor
           id="org.safehaus.penrose.studio.engine.EngineEditor"
           name="Engine"
           icon="media/images/engine.png"
           class="org.safehaus.penrose.studio.engine.EngineEditor"/>
       <editor
           id="org.safehaus.penrose.studio.connector.ConnectorEditor"
           name="Connector"
           icon="media/images/connector.png"
           class="org.safehaus.penrose.studio.connector.ConnectorEditor"/>
       <editor
           id="org.safehaus.penrose.studio.module.ModuleEditor"
           name="Module"
           icon="media/images/object.gif"
           class="org.safehaus.penrose.studio.module.ModuleEditor"/>
       <editor
           id="org.safehaus.penrose.studio.schema.SchemaEditor"
           name="Schema"
           icon="media/images/schema.png"
           class="org.safehaus.penrose.studio.schema.SchemaEditor"/>
       <editor
           id="org.safehaus.penrose.studio.schema.ObjectClassEditor"
           name="Object Class"
           icon="media/images/schema.png"
           class="org.safehaus.penrose.studio.schema.ObjectClassEditor"/>
       <editor
           id="org.safehaus.penrose.studio.schema.AttributeTypeEditor"
           name="Attribute Type"
           icon="media/images/schema.png"
           class="org.safehaus.penrose.studio.schema.AttributeTypeEditor"/>
       <editor
           id="org.safehaus.penrose.studio.user.UserEditor"
           name="User"
           icon="media/images/root.png"
           class="org.safehaus.penrose.studio.user.UserEditor"/>
       <editor
           id="org.safehaus.penrose.studio.service.ServiceEditor"
           name="Service"
           icon="media/images/service.png"
           class="org.safehaus.penrose.studio.service.ServiceEditor"/>
   </extension>
   <extension
         id="application"
         name="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run class="org.safehaus.penrose.studio.PenroseApplication"/>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.safehaus.penrose.studio.PenrosePerspective"
            fixed="false"
            name="Penrose Studio"
            id="org.safehaus.penrose.studio.PenrosePerspective"/>
   </extension>
    <extension
            point="org.eclipse.core.runtime.products"
            id="product">
        <product
                name="Penrose Studio"
                application="org.safehaus.penrose.application">
            <property
                name="windowImages"
                value="media/images/penrose16.gif,media/images/penrose32.gif"/>
        </product>
    </extension>

</plugin>
