<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml">
      </toc>
      <toc
            file="testToc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Penrose"
            id="penrose">
      </category>
      <view
            allowMultiple="false"
            class="org.safehaus.penrose.studio.object.ObjectsView"
            category="penrose"
            name="Objects"
            icon="images/penrose16.ico"
            id="org.safehaus.penrose.studio.object.ObjectsView"/>
      <view
            allowMultiple="false"
            class="org.safehaus.penrose.studio.validation.ValidationView"
            category="penrose"
            name="Validation"
            icon="images/validation.gif"
            id="org.safehaus.penrose.studio.validation.ValidationView"/>
      <view
            allowMultiple="false"
            class="org.safehaus.penrose.studio.views.ProjectInfoView"
            category="penrose"
            name="Project"
            icon="images/penrose16.ico"
            id="org.safehaus.penrose.studio.views.ProjectInfoView"/>
       <view
             allowMultiple="false"
             class="org.safehaus.penrose.studio.console.ConsoleView"
             category="penrose"
             name="Console"
             icon="images/console.gif"
             id="org.safehaus.penrose.studio.console.ConsoleView"/>
   </extension>
   <extension point="org.eclipse.ui.editors">
       <editor
            id="org.safehaus.penrose.studio.welcome.WelcomeEditor"
            name="Welcome"
            icon="images/penrose16.ico"
            class="org.safehaus.penrose.studio.welcome.WelcomeEditor"/>
       <editor
            id="org.safehaus.penrose.studio.server.editor.ServerEditor"
            name="Server"
            icon="images/server.png"
            class="org.safehaus.penrose.studio.server.editor.ServerEditor"/>
       <editor
            id="org.safehaus.penrose.studio.connection.editor.ConnectionEditor"
            name="Connection"
            icon="images/server.png"
            class="org.safehaus.penrose.studio.connection.editor.ConnectionEditor"/>
       <editor
            id="org.safehaus.penrose.studio.source.editor.SourceEditor"
            name="Source"
            icon="images/source.gif"
            class="org.safehaus.penrose.studio.source.editor.SourceEditor"/>
       <editor
            id="org.safehaus.penrose.studio.mapping.MappingEditor"
            name="Mapping"
            icon="images/penrose16.ico"
            class="org.safehaus.penrose.studio.mapping.MappingEditor"/>
       <editor
           id="org.safehaus.penrose.studio.browser.BrowserEditor"
           name="Browser"
           icon="images/browser.png"
           class="org.safehaus.penrose.studio.browser.BrowserEditor"/>
       <editor
           id="org.safehaus.penrose.studio.preview.PreviewEditor"
           name="Preview"
           icon="images/xmag.gif"
           class="org.safehaus.penrose.studio.preview.PreviewEditor"/>
       <editor
           id="org.safehaus.penrose.studio.properties.SystemPropertiesEditor"
           name="System Properties"
           icon="images/properties.png"
           class="org.safehaus.penrose.studio.properties.SystemPropertiesEditor"/>
       <editor
           id="org.safehaus.penrose.studio.partition.editor.PartitionEditor"
           name="Partition"
           icon="images/partition.png"
           class="org.safehaus.penrose.studio.partition.editor.PartitionEditor"/>
       <editor
           id="org.safehaus.penrose.studio.engine.editor.EngineEditor"
           name="Engine"
           icon="images/engine.png"
           class="org.safehaus.penrose.studio.engine.editor.EngineEditor"/>
       <editor
           id="org.safehaus.penrose.studio.module.editor.ModuleEditor"
           name="Module"
           icon="images/object.gif"
           class="org.safehaus.penrose.studio.module.editor.ModuleEditor"/>
       <editor
           id="org.safehaus.penrose.studio.schema.editor.SchemaEditor"
           name="Schema"
           icon="images/schema.png"
           class="org.safehaus.penrose.studio.schema.editor.SchemaEditor"/>
       <editor
           id="org.safehaus.penrose.studio.schema.editor.ObjectClassEditor"
           name="Object Class"
           icon="images/schema.png"
           class="org.safehaus.penrose.studio.schema.editor.ObjectClassEditor"/>
       <editor
           id="org.safehaus.penrose.studio.schema.editor.AttributeTypeEditor"
           name="Attribute Type"
           icon="images/schema.png"
           class="org.safehaus.penrose.studio.schema.editor.AttributeTypeEditor"/>
       <editor
           id="org.safehaus.penrose.studio.user.UserEditor"
           name="User"
           icon="images/root.png"
           class="org.safehaus.penrose.studio.user.UserEditor"/>
       <editor
           id="org.safehaus.penrose.studio.service.editor.ServiceEditor"
           name="Service"
           icon="images/service.png"
           class="org.safehaus.penrose.studio.service.editor.ServiceEditor"/>
   </extension>
   <extension
         id="application"
         name="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run class="org.safehaus.penrose.studio.PenroseStudio"/>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.safehaus.penrose.studio.PenrosePerspective"
            fixed="false"
            name="Penrose Studio"
            id="org.safehaus.penrose.studio.PenrosePerspective"/>
   </extension>
    <extension
            point="org.eclipse.core.runtime.products"
            id="product">
        <product
                name="Penrose Studio"
                application="org.safehaus.penrose.application">
            <property
                name="windowImages"
                value="images/penrose16.gif,images/penrose32.gif"/>
        </product>
    </extension>

</plugin>
